body{
  text-align: center;
}

h1, h2, h3{
  font-family: "Lobster Two", sans-serif;
  margin:0
}

#gallery-title{
  margin: 1em 0;
}

main {
  margin: 0 auto;
}

.img-container{
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  
}

.fotogalerie-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
  
}

.fotogalerie-img:hover{
  transform: scale(1.5);
  transition: transform .5s ease;

}

#fotogalerie-all-pictures-grid{
  display: grid;
  padding: 0 1em;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-gap: 2em;
  justify-content: center;
}

@media (min-width: 780px){
  #fotogalerie-all-pictures-grid{
    grid-template-columns: auto auto auto;
  }
}